hr{
    width: 30%;
    margin-left: 0;
    border: 1px solid #ABABAB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bienvenue{
    margin: 0px 50px;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    color: #ABABAB;
    margin: 50px;

    animation: titlePulse 5s ease infinite;
}
@keyframes titlePulse {
    0%, 100% { transform: scale(1.0); }
    50% { transform: scale(1.1); }
}

.nav-bar{
    height: 100%; 
    width: 250px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #47242A; 
    overflow-x: hidden;
    padding-top: 20px;
}

main{
    margin-left: 240px;
    height: 100%;
    top: 0;
    padding:20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ABABAB;
    background: linear-gradient(135deg, #501B1D, #833940, #64485C);
    background-size: 300% 300%;
    animation: gradientShift 15s ease infinite;
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

.img-leo{
    width: 135px;
    height: 150px;
    border-radius: 50%;
    margin-left: 50px;
}

.nav-bar a{
    margin-left: 35px;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #ADADAD;
    display: block;
    transition: transform .1.5s;
}

.nav-bar a:hover{
    color: #833940;
    transform: scale(1.2);
    z-index: 1;
}

.nav-bar a.active{
    color: #833940; 
    transform: scale(1.2); 
}

#typed-text {
    font-size: 18px;
    white-space: pre-wrap;
    padding-right: 5px;
}

.cv {
    text-align: center;
    position: relative;
    padding: 20px;
}

.arrow-line {
    position: absolute;
    top: 50px;  /* Position initiale de la flèche */
    left: 50px; /* Position initiale de la flèche */
    width: 200px;
    height: 100px;
    pointer-events: none;  /* La flèche ne bloque pas les clics */
}

.cv {
    text-align: center;
    position: relative;
    padding: 50px 20px;
}

.arrow-line {
    position: absolute;
    top: 50px; /* Position du départ de la flèche */
    left: 50px;
    width: 400px;
    height: 200px;
    pointer-events: none;  /* La flèche ne bloque pas les clics */
    visibility: hidden; /* Masquer la flèche au début */
}

.moncv {
    background-color: #2e1114;
    color: #ADADAD;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px;
}

.moncv:hover {
    background-color: #501B1D;
    transform: scale(1.1);
}

/* Empêcher le scroll de l'arrière-plan quand la modale est ouverte */
body.modal-open {
    overflow: hidden;
}

/* Styles de la modale */
.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0; 
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenu de la modale */
.modal-content {
    background-color: white;
    width: 80%;
    height: 90vh;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

/* Bouton de fermeture */
.close {
    align-self: flex-end;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 5px;
}

/* Ajuster l'iframe */
#cvFrame {
    flex-grow: 1;
    border: none;
}

.bts-container {
    display: flex;
    justify-content: space-between;  
    gap: 20px;  
    opacity: 0;
    transform: translateY(50px); /* Déplacement vers le bas au départ */
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.bts-text {
    width: 48%;  
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    text-align: justify;
}


.bts-container.show {
    opacity: 1;
    transform: translateY(0);
}

.bts-text ul{
    padding-left: 30px;
}

.skills-container {
    width: 60%;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.skills-container h2 {
    margin-bottom: 20px;
    color: #fff;
}

.skill {
    margin: 10px 0;
    text-align: left;
}

.skill span {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    display: block;
    margin-bottom: 5px;
}

.progress-bar {
    width: 100%;
    background: #333;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.progress {
    height: 100%;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
}

.progress.html { width: 80%; background: #E34F26; }  /* Orange HTML */
.progress.css { width: 65%; background: #264de4; }   /* Bleu CSS */
.progress.php { width: 30%; background: #777BB3; }   /* Violet PHP */
.progress.c { width: 20%; background: #A8B9CC; }     /* Gris C */
.progress.sql { width: 30%; background: #336791; }   /* Bleu SQL */
.progress.java {width: 15%; background: #b07219;}      /*Orange Java */

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 50px auto;
    max-width: 700px;
}

.timeline::before {
    content: "";
    position: absolute;
    width: 4px;
    background-color: #ABABAB;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px 0;
    position: relative;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.timeline-item:nth-child(even) .timeline-content {
    text-align: right;
}

.timeline-date {
    background: #833940;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
}

.timeline-content {
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 10px;
    max-width: 40%;
    text-align: left;
    color: #fff;
}

.timeline-item.show {
    opacity: 1;
    transform: translateY(0);
}

/* Responsive */
@media (max-width: 768px) {
    .timeline-content {
        max-width: 80%;
        text-align: center;
    }
}

.footer {
    background-color: #47242A; 
    color: #ADADAD;
    padding: 20px 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    transition: background 0.5s ease;
    margin-top: 100px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.footer-section {
    margin: 10px 0;
}

.footer-section h3 {
    color: #833940;
    margin-bottom: 10px;
}

.footer-section a {
    color: #ADADAD;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: #833940;
}

.social-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 15px;
  }
  
  .card h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .card .technologies {
    font-size: 0.9em;
    color: #fff;
  }
  
  .card .btn {
    display: inline-block;
    padding: 8px 15px;
    background-color: #501B1D;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  

footer {
    background-color: #47242A;
    color: #ABABAB;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}
